.parent {
  position: relative;
}
.child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.child1 {
  justify-content: center;
}

.text {
  text-align: center;
}

.navy {
    background-image: url("/static/images/navy.png");
    background-color: #cccccc;
    color: white;

}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
