<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>Cool-Pass: A cool password generator for dinosaurs!</title>
</head>
<body>
<div class="parent">
   <div class="child">
   <br><br><br><br><br><br><br><br><br>
   <img src="/static/images/cooltext.png" alt="cool-pass!.exe">
    <br>
    <p style="text-align:center">Today's password is: <input type="text" id="fname" name="fname" value={{ passout }} ><br><br>
    <button onclick="window.location.href='/'">Another one</button>    <button type ="button" onclick="window.location.href='/stupid'">I'm feeling stupid</button></p>
   </div>
</div>

</body>
</html>
