<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>Cool-Pass: A cool password generator for dinosaurs!</title>
</head>
<body>
   <h1>COOL-PASS! by Bill Gates</h1>
   Today's password is: <input type="text" id="fname" name="fname" value={{ passout }}><br>
   <button onclick="window.location.href='/'">Another one</button>    <button type ="button" onclick="window.location.href='/stupid'">I'm feeling stupid</button>
</textarea>

</body>
</html>
